<div local-class="root">
  <div class="media" local-class="header">
    <div local-class="brand" class="noSelect">
      <LinkTo
        @route="index"
        @tagName="div"
        class={{local-class "brandComponents"}}
      >
        Busse
      </LinkTo>
    </div>
  </div>
</div>